.el-button
  background-color #3f454e
  color #ddd
  border 1px solid transparent
  &.full
    width 100%

  &--primary
    background-color #1badb4

  &:hover
  &:focus
    background-color #1badb4
    color #ddd
    border-color transparent

  &:hover
    box-shadow shadow-diffuse
