.el-input
.el-textarea
  &__inner
    background-color #494C54
    color #f0f0f0
    border 2px solid transparent
    padding 10px 13px

    &:hover
      border-color rgba(131, 148, 165, 0.8)
    &:focus
      outline none
      border-color #1badb4
