.el-select
  &-dropdown
    background-color #494C54
    border-color transparent

    &__item
      color #f0f0f0
      &.selected
        background-color #1badb4
        color white

      &.hover
      &.selected:hover
      &.selected.hover
        background-color #e4e8f1
        color #48576a
