html
body
  background-color color-primary
  color white
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family -apple-system, SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

html
body
#app
  width 100%
  height 100%
  overflow hidden

*
  box-sizing border-box

.v-modal
  background color-mask
  opacity 1
