// Colors
color-primary = #262a2d
color-accent = #1badb4
color-grey = #2a2d33
color-grey-2 = #3f454e
color-die = #7a8593
color-disabled = #828282
color-warning = #cf2e96
color-unware = mix(color-grey, white, 90%)
color-mask = mix(color-accent, mix(color-primary, transparent, 90%), 10%)

// shadow
shadow-card = 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3)
shadow-diffuse = 0 0 20px 0 rgba(27, 173, 180, 0.42), 0 0 62px 0 rgba(27, 173, 180, 0.62), 0 0 92px 0 rgba(27, 173, 180, 0.52)
shadow-header = 0 6px 10px -2px rgba(0, 0, 0, 0.12), 0 3px 10px 5px rgba(0, 0, 0, 0.08), 0 4px 2px -5px rgba(0, 0, 0, 0.12)
