.login-box
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 400px
  background-color color-grey
  padding 20px
  box-shadow shadow-card

  &__title
    margin-top 0
    margin-bottom 40px

  &__hint
    font-size 12px
    a
      color #03e16b
      text-decoration none

