nav.navbar
  background #2a2d33
  height 60px
  box-shadow shadow-header
  display flex
  align-items center
  justify-content flex-end
  span
    display inline-block
    height 60px
    line-height 60px
    padding 0 20px
  .username
    color #ddd

  span.btn
    user-select none
    cursor pointer
    background-color #26292e
    &:hover
      background rgba(27, 173, 180, 0.3)
